internal/binding/include/* linguist-vendored
internal/binding/include/llvm-c/* linguist-vendored
internal/binding/include/llvm-c/Transforms/* linguist-vendored
internal/binding/include/llvm/* linguist-vendored
internal/binding/include/llvm/FileCheck/* linguist-vendored
internal/binding/include/llvm/Frontend/* linguist-vendored
internal/binding/include/llvm/Frontend/OpenACC/* linguist-vendored
internal/binding/include/llvm/Frontend/OpenMP/* linguist-vendored
internal/binding/include/llvm/Frontend/Directive/* linguist-vendored
internal/binding/include/llvm/IR/* linguist-vendored
internal/binding/include/llvm/WindowsManifest/* linguist-vendored
internal/binding/include/llvm/MC/* linguist-vendored
internal/binding/include/llvm/MC/MCDisassembler/* linguist-vendored
internal/binding/include/llvm/MC/MCParser/* linguist-vendored
internal/binding/include/llvm/Demangle/* linguist-vendored
internal/binding/include/llvm/Object/* linguist-vendored
internal/binding/include/llvm/InterfaceStub/* linguist-vendored
internal/binding/include/llvm/Bitcode/* linguist-vendored
internal/binding/include/llvm/Bitstream/* linguist-vendored
internal/binding/include/llvm/Debuginfod/* linguist-vendored
internal/binding/include/llvm/Config/* linguist-vendored
internal/binding/include/llvm/Linker/* linguist-vendored
internal/binding/include/llvm/DWARFLinker/* linguist-vendored
internal/binding/include/llvm/DebugInfo/* linguist-vendored
internal/binding/include/llvm/DebugInfo/MSF/* linguist-vendored
internal/binding/include/llvm/DebugInfo/PDB/* linguist-vendored
internal/binding/include/llvm/DebugInfo/PDB/DIA/* linguist-vendored
internal/binding/include/llvm/DebugInfo/PDB/Native/* linguist-vendored
internal/binding/include/llvm/DebugInfo/Symbolize/* linguist-vendored
internal/binding/include/llvm/DebugInfo/CodeView/* linguist-vendored
internal/binding/include/llvm/DebugInfo/DWARF/* linguist-vendored
internal/binding/include/llvm/DebugInfo/GSYM/* linguist-vendored
internal/binding/include/llvm/TableGen/* linguist-vendored
internal/binding/include/llvm/IRReader/* linguist-vendored
internal/binding/include/llvm/ADT/* linguist-vendored
internal/binding/include/llvm/TextAPI/* linguist-vendored
internal/binding/include/llvm/BinaryFormat/* linguist-vendored
internal/binding/include/llvm/BinaryFormat/ELFRelocs/* linguist-vendored
internal/binding/include/llvm/ObjectYAML/* linguist-vendored
internal/binding/include/llvm/Support/* linguist-vendored
internal/binding/include/llvm/Support/FileSystem/* linguist-vendored
internal/binding/include/llvm/Support/Windows/* linguist-vendored
internal/binding/include/llvm/Support/Solaris/* linguist-vendored
internal/binding/include/llvm/Support/Solaris/sys/* linguist-vendored
internal/binding/include/llvm/MCA/* linguist-vendored
internal/binding/include/llvm/MCA/Stages/* linguist-vendored
internal/binding/include/llvm/MCA/HardwareUnits/* linguist-vendored
internal/binding/include/llvm/Passes/* linguist-vendored
internal/binding/include/llvm/WindowsResource/* linguist-vendored
internal/binding/include/llvm/FuzzMutate/* linguist-vendored
internal/binding/include/llvm/LineEditor/* linguist-vendored
internal/binding/include/llvm/Target/* linguist-vendored
internal/binding/include/llvm/Target/GlobalISel/* linguist-vendored
internal/binding/include/llvm/WindowsDriver/* linguist-vendored
internal/binding/include/llvm/ProfileData/* linguist-vendored
internal/binding/include/llvm/ProfileData/Coverage/* linguist-vendored
internal/binding/include/llvm/LTO/* linguist-vendored
internal/binding/include/llvm/LTO/legacy/* linguist-vendored
internal/binding/include/llvm/XRay/* linguist-vendored
internal/binding/include/llvm/ObjCopy/* linguist-vendored
internal/binding/include/llvm/ObjCopy/COFF/* linguist-vendored
internal/binding/include/llvm/ObjCopy/MachO/* linguist-vendored
internal/binding/include/llvm/ObjCopy/XCOFF/* linguist-vendored
internal/binding/include/llvm/ObjCopy/ELF/* linguist-vendored
internal/binding/include/llvm/ObjCopy/wasm/* linguist-vendored
internal/binding/include/llvm/ToolDrivers/* linguist-vendored
internal/binding/include/llvm/ToolDrivers/llvm-dlltool/* linguist-vendored
internal/binding/include/llvm/ToolDrivers/llvm-lib/* linguist-vendored
internal/binding/include/llvm/Remarks/* linguist-vendored
internal/binding/include/llvm/ExecutionEngine/* linguist-vendored
internal/binding/include/llvm/ExecutionEngine/JITLink/* linguist-vendored
internal/binding/include/llvm/ExecutionEngine/Orc/* linguist-vendored
internal/binding/include/llvm/ExecutionEngine/Orc/TargetProcess/* linguist-vendored
internal/binding/include/llvm/ExecutionEngine/Orc/Shared/* linguist-vendored
internal/binding/include/llvm/Analysis/* linguist-vendored
internal/binding/include/llvm/Analysis/Utils/* linguist-vendored
internal/binding/include/llvm/CodeGen/* linguist-vendored
internal/binding/include/llvm/CodeGen/MIRParser/* linguist-vendored
internal/binding/include/llvm/CodeGen/PBQP/* linguist-vendored
internal/binding/include/llvm/CodeGen/GlobalISel/* linguist-vendored
internal/binding/include/llvm/DWP/* linguist-vendored
internal/binding/include/llvm/Transforms/* linguist-vendored
internal/binding/include/llvm/Transforms/Instrumentation/* linguist-vendored
internal/binding/include/llvm/Transforms/Coroutines/* linguist-vendored
internal/binding/include/llvm/Transforms/AggressiveInstCombine/* linguist-vendored
internal/binding/include/llvm/Transforms/Vectorize/* linguist-vendored
internal/binding/include/llvm/Transforms/Utils/* linguist-vendored
internal/binding/include/llvm/Transforms/Scalar/* linguist-vendored
internal/binding/include/llvm/Transforms/IPO/* linguist-vendored
internal/binding/include/llvm/Transforms/InstCombine/* linguist-vendored
internal/binding/include/llvm/AsmParser/* linguist-vendored
internal/binding/include/llvm/Option/* linguist-vendored
internal/binding/include/llvm/Testing/* linguist-vendored
internal/binding/include/llvm/Testing/Support/* linguist-vendored
